<h2><%= link_to "Family Activity Planner Home", families_path %></h2>

<h2>Add a New Activity or Task for <%= @member.name %></h2>

<%= render 'form' %>

<p><%= link_to 'BACK to ' + @member.name, member_path(@member) %></p>
