<h2><%= link_to "Family Activity Planner Home", families_path %></h2>
<h2>Add a New Family Member to the <%= @family.name %> Family</h2>

<%= render 'form' %>

<p><%= link_to 'BACK to ' + @family.name + ' Family', family_path(@family) %></p>
